In [25]:
import numpy as np

def dotproduct(a,b):
    dot_product = 0 
    try:
        for a,b in zip(a,b):
            dot_product = dot_product + a*b
        return dot_product
    except:
        print("Sorry, the arrays should be the same size")

In [27]:
a = np.array([3, 2, 2])

b = np.array([3, 6, 9])

dotproduct(a,b)

39

In [33]:
def crossproduct(a,b):
    dim = len(a)
    cross = []
    try:
        for i in range(dim):
            if i == 0:
                j,k = 1,2
                cross.append(a[j]*b[k] - a[k]*b[j])
            elif i == 1:
                j,k = 2,0
                cross.append(a[j]*b[k] - a[k]*b[j])
            else:
                j,k = 0,1
                cross.append(a[j]*b[k] - a[k]*b[j])
        return cross
    except:
        print("Arrays should be same size")

In [35]:
a = np.array([3, 0, 2])

b = np.array([3, 1, 2])

crossproduct(a,b)

[-2, 0, 3]

## One Hot Encoding

### One hot encoding is representing a categorical value as binary vectors by transforming the categories to integer form. 
### Used so that python can work with categorical values since they're in integer format.

In [38]:
import pandas as pd

belize = pd.read_csv('belize_airbnb_listings.csv')
belize.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [49]:
belize_df = belize['neighbourhood_group'].unique()

df = pd.Series(list(belize_df))

pd.get_dummies(df)

   Belize  Cayo  Corozal  Orange Walk  Stann Creek  Toledo
0       1     0        0            0            0       0
1       0     0        0            0            1       0
2       0     0        0            0            0       1
3       0     1        0            0            0       0
4       0     0        1            0            0       0
5       0     0        0            1            0       0